.list{
  margin-top: 1rem;
  padding: 0;
  padding-top: 1rem;
}
.list li {
  position: relative;
}

.date {
  opacity: 0.5;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -3rem;
}

.smallDescription {
  margin-top: 0;
}