

html {
  padding: 1rem;
}

body {
  font-size: 16px;
  background-color: #000000;
  color: #ffffff;
  font-family: "Indie Flower", cursive; 
}

body:has(.vertical-center-align){
  margin-top: -24px;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  z-index: 2;
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
}

a {
  color: inherit;
}

h1 {
  line-height: 120%;
}

@media (min-width: 1280px) {
  
}


ul li::marker {
  margin-top: 2rem;
  position: absolute;
  padding-left: 3rem !important;
  padding-top: 2rem !important;
}

.structured-text ol p,
.structured-text ul p {
  margin: 0;
}
.structured-text pre {
  font-size: .8em!important;
}